.overlay-container {
  $animationDuration: 0.4s;
  position: absolute;
  width: 50%;
  height: 100%;
  left: 50%;
  z-index: 100;
  font-weight: 600;
  overflow: hidden;
  transition: left $animationDuration ease-in-out;

  .overlay {
    position: relative;
    display: flex;
    width: 200%;
    height: 100%;
    left: -100%;
    background-image: linear-gradient(
      to right,
      aquamarine,
      antiquewhite,
      aquamarine
    );
    transform: translateX(0%);

    transition: transform $animationDuration ease-in-out;
  }
}

.signup-active {
  .overlay-container {
    left: 0;

    .overlay {
      transform: translate(50%);
    }
  }
}

.login-active {
  .overlay-container {
    left: 50%;

    .overlay {
      transform: translate(0%);
    }
  }
}
